name: PHP Tests

on: [push, pull_request]

jobs:
    tests:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php-versions: ['7.2', '7.3', '7.4']
        name: PHP ${{ matrix.php-versions }}
        steps:
            - name: Checkout
              uses: actions/checkout@v2.3.4

            - name: Setup PHP
              uses: shivammathur/setup-php@2.9.0
              with:
                  php-version: ${{ matrix.php-versions }}
                  tools: composer, phpunit
                  coverage: none

            - name: Install Composer dependencies
              run: composer install --no-progress --no-suggest --prefer-dist --optimize-autoloader

            - name: Run PHPUnit
              run: composer run test

            - name: Run PHP CS Fixer
              run: composer run fix
